body {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

header {
    display: flex;
    justify-content: center;
    font-size: 1vw;
    gap: 20vw;
}

nav, nav ul {
    display: contents;
    font-size: 2vw;
    margin-left: auto;
    flex: 1;
}

h2 {
    text-align: center;
    font-size: 5vw;
    font-weight: 150;
    margin-top: 0.3em;
}

footer {
    font-size: 2vw;
    background-color: bisque;
}

h6 {
    text-align: right;
}

.statement {
    font-size: 5em;
    text-align: center;
    color:aqua;
}

.learning {
    display: grid;
    text-align: center;
    font-size: 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5em 5em 5em;
    column-gap: 10px;
    row-gap: 10px;
}

#dsa { grid-area: 1/1/1/3; background-color: green; }
#theory { grid-area: 1/3/3/3; background-color: blueviolet; }
#ai { grid-area: 2/1/3/2; background-color: aquamarine; }

#coverphoto {
    width: 100vw;
    opacity: 0.9;
}