body {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* font-family: "Drive"; */
    /* src: url("fonts/DriveVariable.ttf"); */
    background: radial-gradient(
        at calc(var(--mouse-x, 0.5) * 100%)
        calc(var(--mouse-y, 0.5) * 100%),
        transparent, yellow
    );
}

header {
    display: flex;
    justify-content: center;
    font-size: 1vw;
    gap: 20vw;
}

nav, nav ul {
    display: contents;
    font-size: 1em;
    margin-left: auto;
    flex: 1;
}

h2 {
    text-align: center;
    font-size: 5vw;
    font-weight: 150;
    margin-top: 0.3em;
}

footer {
    font-size: 2vw;
    background-color: bisque;
}

h6 {
    text-align: right;
}

.statement {
    font-size: 5vw;
    text-align: center;
    color:aqua;
}

.learning {
    display: grid;
    text-align: center;
    font-size: 3em;
    color:azure;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: 5em 5em 5em;
    column-gap: 10px;
    row-gap: 10px;
}

#dsa { grid-area: 1/2/1/5; background-color: green; border-radius: 1em; }
#theory { grid-area: 1/5/3/7; background-color: blueviolet; border-radius: 1em; }
#ai { grid-area: 2/4/10/5; background-color: aquamarine; border-radius: 1em; writing-mode: vertical-rl; text-orientation: mixed; }

#coverphoto {
    width: 100vw;
    opacity: 0.9;
}