body {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    background-color: lightblue;
}

header {
    font-size: 26px;
    margin-top: 0.2em;
}

#coverphoto {
    width: 99vw;
}